# {{ ansible_managed }}

{% if clamav_clamd_local_socket is defined %}
LocalSocket {{ clamav_clamd_local_socket }}
FixStaleSocket {{ clamav_clamd_fix_stale_socket }}
LocalSocketGroup {{ clamav_clamd_local_socket_group }}
LocalSocketMode {{ clamav_clamd_local_socket_mode }}
{% endif %}
{% if clamav_clamd_tcp_socket is defined %}
TCPSocket {{ clamav_clamd_tcp_socket }}
{% endif %}
User {{ clamav_clamd_user }}
AllowSupplementaryGroups {{ clamav_clamd_allow_supplementary_groups }}
ScanMail {{ clamav_clamd_scan_mail }}
ScanArchive {{ clamav_clamd_scan_archive }}
ArchiveBlockEncrypted {{ clamav_clamd_archive_block_encrypted }}
MaxDirectoryRecursion {{ clamav_clamd_max_directory_recursion }}
FollowDirectorySymlinks {{ clamav_clamd_follow_directory_symlinks }}
FollowFileSymlinks {{ clamav_clamd_follow_file_symlinks }}
ReadTimeout {{ clamav_clamd_read_timeout }}
MaxThreads {{ clamav_clamd_max_threads }}
MaxConnectionQueueLength {{ clamav_clamd_max_connection_queue_length }}
LogSyslog {{ clamav_clamd_log_syslog }}
LogRotate {{ clamav_clamd_log_rotate }}
LogFacility {{ clamav_clamd_log_facility }}
LogClean {{ clamav_clamd_log_clean }}
LogVerbose {{ clamav_clamd_log_verbose }}
PidFile {{ clamav_clamd_pid_file }}
DatabaseDirectory {{ clamav_clamd_database_directory }}
SelfCheck {{ clamav_clamd_self_check }}
Foreground {{ clamav_clamd_foreground }}
Debug {{ clamav_clamd_debug }}
ScanPE {{ clamav_clamd_scan_pe }}
MaxEmbeddedPE {{ clamav_clamd_max_embedded_pe }}
ScanOLE2 {{ clamav_clamd_scan_ole2 }}
ScanPDF {{ clamav_clamd_scan_pdf }}
ScanHTML {{ clamav_clamd_scan_html }}
MaxHTMLNormalize {{ clamav_clamd_max_html_normalize }}
MaxHTMLNoTags {{ clamav_clamd_max_html_no_tags }}
MaxScriptNormalize {{ clamav_clamd_max_script_normalize }}
MaxZipTypeRcg {{ clamav_clamd_max_zip_type_rcg }}
ScanSWF {{ clamav_clamd_scan_swf }}
DetectBrokenExecutables {{ clamav_clamd_detect_broken_executables }}
ExitOnOOM {{ clamav_clamd_exit_on_oom }}
LeaveTemporaryFiles {{ clamav_clamd_leave_temporary_files }}
AlgorithmicDetection {{ clamav_clamd_algorithmic_detection }}
ScanELF {{ clamav_clamd_scan_elf }}
IdleTimeout {{ clamav_clamd_idle_timeout }}
PhishingSignatures {{ clamav_clamd_phishing_signatures }}
PhishingScanURLs {{ clamav_clamd_phishing_scan_urls }}
PhishingAlwaysBlockSSLMismatch {{ clamav_clamd_phishing_always_block_ssl_mismatch }}
PhishingAlwaysBlockCloak {{ clamav_clamd_phishing_always_block_cloak }}
PartitionIntersection {{ clamav_clamd_partition_intersection }}
DetectPUA {{ clamav_clamd_detect_pua }}
ScanPartialMessages {{ clamav_clamd_scan_partial_messages }}
HeuristicScanPrecedence {{ clamav_clamd_heuristic_scan_precedence }}
StructuredDataDetection {{ clamav_clamd_structured_data_detection }}
CommandReadTimeout {{ clamav_clamd_command_read_timeout }}
SendBufTimeout {{ clamav_clamd_send_buf_timeout }}
MaxQueue {{ clamav_clamd_max_queue }}
ExtendedDetectionInfo {{ clamav_clamd_extended_detection_info }}
OLE2BlockMacros {{ clamav_clamd_ole2_block_macros }}
ScanOnAccess {{ clamav_clamd_scan_on_access }}
AllowAllMatchScan {{ clamav_clamd_allow_all_match_scan }}
ForceToDisk {{ clamav_clamd_force_to_disk }}
DisableCertCheck {{ clamav_clamd_disable_cert_check }}
DisableCache {{ clamav_clamd_disable_cache }}
MaxScanSize {{ clamav_clamd_max_scan_size }}
MaxFileSize {{ clamav_clamd_max_file_size }}
MaxRecursion {{ clamav_clamd_max_recursion }}
MaxFiles {{ clamav_clamd_max_files }}
MaxPartitions {{ clamav_clamd_max_partitions }}
MaxIconsPE {{ clamav_clamd_max_icons_pe }}
StatsEnabled {{ clamav_clamd_stats_enabled }}
StatsPEDisabled {{ clamav_clamd_stats_pe_disabled }}
StatsHostID {{ clamav_clamd_stats_host_id }}
StatsTimeout {{ clamav_clamd_stats_timeout }}
StreamMaxLength {{ clamav_clamd_stream_max_length }}
LogFile {{ clamav_clamd_log_file }}
LogTime {{ clamav_clamd_log_time }}
LogFileUnlock {{ clamav_clamd_log_file_unlock }}
LogFileMaxSize {{ clamav_clamd_log_file_max_size }}
Bytecode {{ clamav_clamd_bytecode }}
BytecodeSecurity {{ clamav_clamd_bytecode_security }}
BytecodeTimeout {{ clamav_clamd_bytecode_timeout }}
OfficialDatabaseOnly {{ clamav_clamd_official_database_only }}
CrossFilesystems {{ clamav_clamd_cross_filesystems }}
